<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class ="row mt-5">
        <h4 class="col-3"><p class="p_1">飲食店一覧 <span style="font-size: 15px"><%= "(全#{@restaurant_count}件)"%></span></p></h4>
      </div>
      
    </div>
  </div>
</div>

