<div class="container">
  <div class="row">
    <div class="col-md-11 offset-1">

      <div class="search-data">
        <h4 class="col-3 mt-5">会員検索</h4>

        <div>
          <p>会員アレルゲン</p>
          <% @customer.allergies.each do |allergy| %>
            <%= allergy.allergen %>
          <% end %>
        </div>
        <%= link_to "都道府県で検索", restaurants_path(customer: { state_id: @customer.state_id }, allergies: @customer.allergy_ids) %>
        <%= link_to "地域エリアで検索", restaurants_path(customer: { area_id: @customer.area_id }, state_id: @customer.state_id, allergies: @customer.allergy_ids) %>
      </div>
    </div>
  </div>
</div>