<div class="container">
  <div class="row">
    <div class="col-md-11 offset-1">

      <div class="search-data">
        <h4 class="col-3 mt-5">会員検索</h4>

        <div>
          <p>会員アレルゲン</p>
          <% @customer.allergies.each do |allergy| %>
            <%= allergy.allergen %>
          <% end %>
        </div>
        <%= link_to restaurants_path(customer: { state_id: @customer.state_id }, allergies: @customer.allergy_ids), class: "btn btn-outline-primary" do %>
          <i class="far fa-map"></i>
          都道府県で検索
        <% end %>
        <%= link_to restaurants_path(customer: { area_id: @customer.area_id }, state_id: @customer.state_id, allergies: @customer.allergy_ids), class: "btn btn-outline-success ml-3" do%>
          <i class="fas fa-map-marked-alt"></i>
          地域エリアで検索
        <% end %>
      </div>
    </div>
  </div>
</div>