<div class="container">
  <div class="col-11 col-md-8 mx-auto">

    <h4 class="text-center mt-5"><strong>会員検索</strong></h4>
    <p class="text-center mt-2">会員登録したアレルゲン情報を元に簡単検索します</p>

    <div class="customer_allergen mt-4 mb-3">
      <h5>会員アレルゲン</h5>
      <% @customer.allergies.each do |allergy| %>
        <%= allergy.allergen %>
      <% end %>
    </div>

    <div class="d-flex flex-wrap gap-3 mt-3">
      <%= link_to restaurants_path(customer: { allergies: @customer.allergies.pluck(:id) }, state_id: @customer.state_id), class: "btn btn-info active" do %>
        <i class="far fa-map"></i> 都道府県で検索
      <% end %>
      <%= link_to restaurants_path(customer: { area_id: @customer.area_id, allergies: @customer.allergies.pluck(:id) }, state_id: @customer.state_id), class: "btn btn-success active" do %>
        <i class="fas fa-map-marked-alt"></i> 地域エリアで検索
      <% end %>
    </div>

  </div>
</div>
