<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h4 class="col-2 mt-5">飲食店会員一覧</h4>

      <div class='flashing mt-2'>
        <p>※現在登録されているデータは架空です</p>
      </div>

      <table class="table table-hover mt-4">
        <thead class="table-secondary">
          <th>会員ID</th>
          <th>店名</th>
          <th>メールアドレス</th>
          <th>会員状況</th>
        </thead>

        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.id %></td>
              <td><%= link_to restaurant.name, admin_restaurant_path(restaurant.id) %></td>
              <td><%= restaurant.email %></td>
              <td>
                <% if restaurant.is_valid == false %>
                  <p class="restaurant_valid">退会</p>
                <% else %>
                  <p class="restaurant_valid2">有効</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="offset-5 mt-3"><%= paginate @restaurants %></div>
    </div>
  </div>
</div>