<div class="container">
  <div class="col-11 col-md-8 mx-auto">

    <div class="text-center mt-5">
      <h4 class="text-center"><strong>地域一覧</strong></h4>
    </div>

    <table class="table table-hover mt-4">
      <thead class="table-secondary">
        <th>都道府県</th>
      </thead>
      <% @states.each do |state| %>
        <tr>
          <td><%= link_to state.state, admin_areas_path(state.id) %></td>
        </tr>
      <% end %>
    </table>
    <div class="text-end mt-3"><%= paginate @states %></div>

  </div>
</div>
