<div class="container">
  <div class="col-11 col-md-8 mx-auto">

    <div class="text-center mt-5">
      <h4 class="text-center"><strong><%= @state.state %></strong></h4>
    </div>

    <table class="table table-hover mt-4">
      <thead class="table-secondary">
        <th>地域エリア</th>
      </thead>
      <% @areas.each do |area| %>
        <tr>
          <td><%= area.area %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
