<div class="container">
  <div class="row">
    <div class='col-12'>
      <h4 class="col-3 mt-5 offset-2"><%= @state.state %></h4>

      <div class="row">
        <table class="table table-hover col-8 mt-3 offset-2">
          <thead class="table-secondary">
            <th>地域エリア</th>
          </thead>
          <% @areas.each do |area| %>
            <tr>
              <td>
                  <%= area.area %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>