/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h4, h6 {
  color: maroon;
  border-radius: 4px;
  background-color: #d8e698 ;
}

h1{
  color: maroon;
}

.about{
  color: maroon;
}

.table-secondary {
  background-color: #ffffe0 ;
}

th {
  color: #cd853f;
}

.navbar-expand-lg {
  background-color: #556b2f ;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

footer {
  background-color: #556b2f ;
  width: 100% ;
  color: white ;
}